/* CSS Testing */


.bigred {
    font-size: 40px;
    color: red;
}

.bigred {
    font-size: 20px;
}

span.bigred {
    color: green;
}

.bigred span{
    color: blue;
}

p.bigred span {
    font-size: 35px;
}

.block>p {
    color: orange;
}


/* Fonts */




.arial {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.font700{
    font-size: 20px;
    font-weight: 700;
}

.color {
    color: red;
    text-align: center;
}

.justify {
    text-align: justify;
    text-decoration:underline;
    text-shadow: 1px 1px 5px #000;
}

.transform {
    text-transform: capitalize;
}

.indent {
    text-indent: 50px;
    letter-spacing: 5px;
}

.wordspacing {
   word-spacing: 20px; 
}

.whitespace {
white-space: normal;
}

.lineheight {
line-height: 30px;
}

/* margin_padding_display */


.example-block {
/* padding: 40px 60px 60px; */
/* margin: 10px 10px 10px 10px; */

border: 1px solid #000;
/* width: 500px; */

/* max-width: 500px; */
/* min-width: 500px; */
/* height: 50%; */
margin: 0 0 30px 0;

}



.example-string {
width: 500px;
display: block;
/* padding: 30px; */
}

.imgclass {
    /* width: 100px; */
    max-height: 200px;
    display: none;
}



/* training_margin_padding */


.div1 {
    width: 60%;
    padding: 20px;
    line-height: 1.5;
}
.span1 {
    display: block;
    padding: 0px 0px 0px 20px;

}


.a1 {
    padding-left: 20px;
}


.div2 {
    padding: 20px;
    height: 100px;
}


.div3 {
    padding: 20px;
}


.p1 {
    display: inline;
    padding-left: 30px;
}


.span2 {
    padding-left: 20px;
    display: block;
}


.a2 {
    padding-left: 30px;
}


.span3 {
    display: block;
    padding: 40px 20px;
}


/* opacity */


.example-block2{
    font-size: 30px;
    margin: 0 0 30px 0;
    border: 10px dashed #000;
    border-top: none; 
 
/* border-bottom: 1px solid #000; */
    border-radius: 10px 10px 20px 20px;
}

.example-string2 {
    font-size: 30px;
    outline: 10px solid blue;
    box-shadow: inset 0px 0px 5000px blue;
    color: whitesmoke;
    letter-spacing: 1px;
    text-align: justify;

}

.example-image {
    outline: 2px solid gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* overflow: hidden; */
    box-shadow: 5px 5px 10px 5px red;
    display: block;
    margin: 40px 40px;
    padding: 10px;
    opacity: 0.5;
}

.example-block3 {
    font-size: 30px;
    padding: 30px;
    margin: 15px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px gray;
    /* visibility: hidden; */
}

.example-block4 {
    font-size: 30px;
    padding: 50px;
    margin: 15px;
    border-radius: 50px;
    box-shadow: inset 10px 10px 20px gray;
}

.paddingdiv {
    padding: 30px;

}


/* background */

body {


    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    padding: 20px;
    background: fixed;
    background: url("/img/tile2.jpg") fixed;

}

.blockbg {
margin: 30px;
height: 300px;
border-radius: 15px;
box-shadow: 2px 2px 10px rgba(211, 6, 242, 0.679);

/* background: yellowgreen; */

/* background-color: rgba(221, 29, 29, 0.5); */
background: url("/img/bg.jpg") center/ cover  ;
/* background-position: center; */

}


.blockbg2 {
    margin: 30px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(6, 14, 242, 0.869);
    opacity: 0.7;
    /* background: yellowgreen; */
    /* background-color: rgba(221, 29, 29, 0.5); */
    background: url("/img/tile.jpg") fixed;
    background-position: center;
    

    }


    .list {
        padding-bottom: 20px;
        padding-left: 30px;
        letter-spacing: 2px;
        line-height: 1.4;
    }

    .list li {
        color: white;
        font-size: 30px;
        background: url("/img/tile.jpg") left 10px no-repeat;
        background-size: 20px 20px;
        padding-left: 30px;

    }

    /* pseudoclass */


   

    